@media(max-width: 430px) {
    .end-container {
        width: 250px;
    }
    .element {
        padding: 0;
    }
}

@media(max-width: 330px) {
    .question-footer {
        display: flex;
        flex-direction: column;
    }
    .question-footer button {
        margin-top: 8px;
    }
}