body {
    margin: 0;
    background-image: url(/img/mainback.jpg) !important;
    font-family: 'roboto', sans-serif, Arial, Helvetica;
    background-position: center;
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: none;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    padding-top: 8px;
}

.quiz-card {
    max-width: 30rem;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 0px 40px 0px 40px;
}

.quiz-card img {
    border: 2px solid rgba(0, 0, 0, 0.14);
    border-radius: 0px 40px 0px 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.card-body {
    text-align: center;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.015);
}

.bg-success {
    color: white;
}

.bg-danger {
    color: white;
}

.endscore {
    color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 28px;
    font-weight: bold;
}

.main-end-container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 173, 126);
    height: 100%;
    width: 400px;
    border-radius: 8px 8px 0px 0px;
    clip-path: polygon( 0% 0%, 100% 0%, 100% calc(100% - 55px), 0% 100%);
}

.bold-text {
    text-align: center;
    font-size: 32px;
    color: white;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-bottom: 50px;
}

.ending-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    margin-left: 12px;
    color: white;
}

.end-container img {
    margin-top: 24px;
    height: 150px;
}

.end-buttons {
    display: flex;
}

.end-buttons div {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: -12px;
}

.end-buttons div button {
    margin: 12px;
    background-color: rgb(204, 173, 126) !important;
    border: none;
    font-weight: bold;
}

.end-buttons div button:hover {
    background-color: rgb(225, 188, 84) !important;
}

.progress {
    border-radius: 0px;
}

.progress-bar {
    background-color: rgb(204, 173, 126);
}

.bg-danger {
    background-color: rgb(229, 122, 133)!important;
}

.bg-success {
    background-color: rgb(33, 180, 112)!important;
}

.btn {
    background-color: rgb(180, 141, 82)!important;
    border: none;
}